body {
    margin: 0;
}

.index-header {
    background-color: gray;
    padding: 10px 10px 20px 10px;
    margin-top: 0px;
}

.index-nav {
    margin: 50 50 50 0;
}

.index-title1 {
    margin-top: 0;
}

main {
    background-color: lightgray;
    padding: 20px;
}

footer {
    background-color: grey;
    padding: 10px 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  